@model WebApplication2.Models.Size

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Size</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SizeId)

        <div class="form-group">
            @Html.LabelFor(model => model.ActualSize, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActualSize)
                @Html.ValidationMessageFor(model => model.ActualSize)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StockOnHand, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StockOnHand)
                @Html.ValidationMessageFor(model => model.StockOnHand)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReOrderQuantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReOrderQuantity)
                @Html.ValidationMessageFor(model => model.ReOrderQuantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ColorId, "ColorId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ColorId", String.Empty)
                @Html.ValidationMessageFor(model => model.ColorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
